# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
# /data/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/
/data/raw/worldbank/
/data/raw/original/
/notebooks/assignment2_p1_source_code.ipynb
/notebooks/assignment3_part1-FINAL.ipynb
/notebooks/assignment3_part1_source.ipynb
/notebooks/assignment3_part2_source.ipynb
/notebooks/exploratory_timeseries_v2.ipynb
/notebooks/timeseries_lstm.ipynb
/notebooks/auto_examples_jupyter/
/notebooks/support-vector-clustering.ipynb
notebooks/trial_pycaret_clustering.ipynb
notebooks/temp.ipynb
notebooks/clustering_analysis.ipynb
*.icloud
*.icloud

/notebooks/mlruns/
/venv-x/
/notebooks/mlruns/
/reports/create_ts_models.ipynb.html
/reports/create_ts_models.html
/notebooks-validation/mlruns/
